.section-heading,
.item-heading {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .button {
    margin-bottom: 0;
  }
  margin-bottom: $header-margin-bottom;
}
[ng-click] {
  cursor: pointer;
}

// Icons
i.big {
  font-size: 6rem;
}

.welcome {
  padding: 3rem 1rem;
  .welcome-header {
    margin-bottom: 4rem;
    color: $primary-color;
  }
  i {
    color: $success-color;
  }
}
