

<div class="column small-12">

  <!-- FACT LIST -->
  <accordion-panels>
    <!-- FACT -->
    <accordion-panel>
      <accordion-heading class="item-heading row">
        <!-- Title -->
        <div class="column">
          <h3>Fact Title</h3>
        </div>

        <div class="column shrink align-self-right align-self-middle">
          <button type="button" ng-click="">
            <i class="fi-pencil"></i>
          </button>
        </div>

      </accordion-heading>

        <div class="column small-12">
          <label>
            Heading
            <input type="text" placeholder="A Nice Heading">
          </label>
        </div>


        <div class="column small-12">
          <label>
            The Fact
            <textarea placeholder="All that info..."></textarea>
          </label>
        </div>
        <!-- SOURCES -->
        <div class="column small-12 sources-section">

          <div class="row">
            <!-- Heading -->
            <div class="column small-12 section-heading">
              <h4>Sources</h4>
            </div>
          </div>
          <accordion-panels>
            <accordion-panel>
              <accordion-heading class="row item-heading">
                <div class="column">
                  <h5>Source Title</h5>
                </div>
              </accordion-heading>
              <div class="column medium-6">

                  <label>
                    Title
                    <input type="text" placeholder="Source Name">
                  </label>

                </div>

                <div class="column medium-6">

                  <label>
                    URL
                    <input type="url" placeholder="Link">
                  </label>

                </div>
            </accordion-panel>
          </accordion-panels>

        </div>

    </accordion-panel>
  </accordion-panels>
</div>
