

<div class="column small-12">

  <!-- FACT LIST -->
  <accordion-panels class="facts-list">
    <!-- FACT -->
    <accordion-panel ng-repeat="fact in currentProfile.facts">
      <accordion-heading class="item-heading row">
        <!-- Title -->
        <div class="column">
          <h3>{{fact.heading}}</h3>
        </div>

        <div class="column shrink align-self-right align-self-middle">
          <button type="button" ng-click="">
            <i class="fi-pencil"></i>
          </button>
        </div>

      </accordion-heading>

        <div class="column small-12">
          <label>
            Heading
            <input type="text" placeholder="A Nice Heading" ng-model="fact.heading">
          </label>
        </div>


        <div class="column small-12">
          <label>
            The Fact
            <textarea placeholder="All that info..." ng-model="fact.article"></textarea>
          </label>
        </div>
        <!-- SOURCES -->
        <div class="column small-12 sources-section">

          <div class="row">
            <!-- Heading -->
            <div class="column small-12 section-heading">
              <h4>Sources</h4>
            </div>
          </div>
          <accordion-panels class="sources-list">
            <accordion-panel ng-repeat="source in fact.sources">
              <accordion-heading class="row item-heading">
                <div class="column">
                  <h5>{{source.title}}</h5>
                </div>
              </accordion-heading>
              <div class="column medium-6">

                  <label>
                    Title
                    <input type="text" placeholder="Source Name" ng-model="source.title">
                  </label>

                </div>

                <div class="column medium-6">

                  <label>
                    URL
                    <input type="url" placeholder="Link" ng-model="source.url">
                  </label>

                </div>
            </accordion-panel>
          </accordion-panels>

        </div>

    </accordion-panel>
  </accordion-panels>
</div>
