<div class="column small-12 medium-10 align-self-center">
  <div class="row text-center">
    <div class="column">
      <h1 class="welcome-header">Welcome to the CMS!</h1>
    </div>
  </div>

  <div class="row align-center align-middle">
    <div class="column small-12 medium-8 medium-order-2">
      <h3>Just select a profile on the left to bring up the editor.</h3>
    </div>
    <div class="column small-12 medium-2 medium-order-1">
      <i class="fi-arrow-left big"></i>
    </div>
  </div>
</div>
